/* Joakim Rosqvist - Mittuniversitetet - 2019 */

// Hela sidan
html {
  font-family: "Amaranth", sans-serif;
}
body {
  background-color: $lighterGray;
}
// Meny
#mainheader {
  height: 50px;
  background-color: $lightBlue;
  //overflow: hidden;
  position: fixed;
  width:100%;
  top: 0;
  z-index: 999;
  h2 {
    font-family: 'Lobster', cursive;
    line-height: 50px;
    font-style: italic;
    color: #fff;
    float: left;
    padding-left: 20px;
    font-size: 20px;
  }
  #main-nav {
    float: right;
    a {
      font-family: "Baloo Bhai", cursive;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size:16px;
      padding: 12px 20px;
      line-height: 50px;
      // & Används för att stylea pseudo-klasser
      &:hover {
        background-color: $darkerBlue;
      }
    }
  }
  ul li {
    float: left;
    display: block;
  }
}
// Döljer mobilikonen
#mobiler-container {
  display: none;
}
#mobile-menu {
  display: none;
}


#logout-button {
  background-color: transparent;
  color: white;
  font-family: "Baloo Bhai", cursive;
  padding: 12px 20px;
  font-weight: normal;
  font-size:16px;
  &:hover {
    cursor: pointer;
    background-color: $darkerRed;
  }
}
// Sidinnehåll
#container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}
// Varje sektion (utbildningar, jobb och skapade webbplatser)
.box {
  width: 80%;
  background-color: $lighterGray;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  margin: 5% 10% 2.5% 10%;
  h2 {
    font-family: "Baloo Bhai", cursive;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
    padding-top: 20px;
    color: $darkerBlue;
  }
}
// Formulären
.box form {
  width: 80%;
  margin: 1% 5%;
  padding: 1% 5%;
}
input[type="text"],
input[type="password"],
textarea {
  width: 70%;
  padding: 10px;
  margin: 0 15%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
textarea {
  min-height: 100px;
  resize: vertical;
}
/* Knappar */
button {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
input[type="submit"]  {
  border: none;
  padding: 10px;
  font-weight: bold;
}
// Lägg till
.add-button {
  width: 30%;
  margin: 20px 35%;
  background-color: $lightGreen;
  color: white;
}
.add-button:hover {
  cursor: pointer;
  background-color: $darkerGreen;
}
// Uppdatera
.update-button {
  padding: 10px 5px;
  width: 20%;
  margin: 5px 30%;
  background-color: $lightBlue;
  color: $white;
}
.update-button:hover {
  cursor: pointer;
  background-color:$darkerBlue;
}
// Ta bort-knappar
.delete-button {
  padding: 10px 5px;
  width: 40%;
  margin: 5px 30%;
  background-color: $lightRed;
  color: $white;
}
.delete-button:hover {
  cursor: pointer;
  background-color: $darkerRed;
}

// Omfattar hela poster vid utskrift
.box-wrapper {
  float: left;
  width: 80%;
  padding: 5%;
  margin: 0 5%;
  border-radius: 5px;
  p {
    margin-bottom: 7.5px;
  }
  .lead-text {
    font-weight: bold;
    font-size: 110%;
    color: $darkerBlue;
  }
}
.box-wrapper:nth-child(odd) {
  background-color: $white;
}
.box-wrapper:nth-child(even) {
  background-color: $lighterBlue;
}
// Hämtade poster - text-sektionen
.educationBox,
.jobBox,
.webpageBox {
  float: left;
  width: 60%;
}
// Hämtade poster - knapparna
.button-box {
  width: 40%;
  float: left;
  button {
    width: 50%;
    float: left;
  }
}
// Tar bort float
.button-box:after {
  clear: both;
  display: block;
  content: "";
}

// Tar bort float efter output
#output:after,
#outputjobs:after,
#outputwebpages:after {
  clear: both;
  display: block;
  content: "";
}
// Tar bort float för uppdatera-formulären
#updateEducationForm,
#updateJobForm,
#updateWebpageForm {
  display: none;
  position: fixed;
  background-color: $lightBlue;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  padding: 50px;
  width: 100vh;
  top: 50px;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  input {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
label {
  color: $white;
  font-weight: bold;
  width: 70%;
  margin: 0 15% 0 15%;
}
// Uppdateraknappen i uppdatera-formuläret
// Uppdatera
.form-update-button {
  padding: 10px 5px;
  width: 20%;
  margin-left: 30%;
  margin-top: 10px;
  background-color: $lightGreen;
  color: $white;
  float: left;
}
.form-update-button:hover {
  cursor: pointer;
  background-color: $darkerGreen;
}
// Ta bort-knappar
.close-button {
  padding: 10px 5px;
  width: 20%;
  margin-right: 15%;
  margin-left: 5%;
  margin-top: 10px;
  background-color: $white;
  color: black;
  float: left;
}
.close-button:hover {
  cursor: pointer;
  background-color: $lighterGray;
}

footer {
  height: 100px;
  background-color: $darkerBlue;
  margin-top: 50px;
  p {
    color: $white;
    line-height: 100px;
    text-align: center;
    font-size: 12px;
  }
}

// Tillagd-diven
#added-div,
#updated-div,
#deleted-div {
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
  p {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 120%;
    color: $white;
  }
}
#added-div {
  background-color: $lightGreen;
}
#updated-div {
  background-color: $lightBlue;
}
#deleted-div {
  background-color: $lightRed;
}
// Diven som visas vid tillagd post får klassen on vid klick
.on {
  animation-name: popUp;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

// Animation till lägga-till-diven
@keyframes popUp {
  0% {
    bottom: -50px;
    opacity: 1;
  }
  10% {
    bottom: -25px;
    opacity: 1;
  }
  20% {
    bottom: 0px;
    opacity: 1;
  }
  79% {
    bottom: 0px;
    opacity: 1;
  }
  90% {
    bottom: -25px;
    opacity: 1;
  }
  99% {
    bottom: -50px;
    opacity: 1;
  }
  100% {
    bottom: -50px;
    opacity: 0;
  }
}

// Media queries
@media (max-width: 800px) {
  // Designar mobilmenyn
  #main-nav {
    z-index: 999;
    position: relative;
    float: none;
    width: 100%;
    a {
      padding: 5px;
      text-align: left;
      width: 100%;
      display: block;
      line-height: 0;
    }
    ul {
      display: none;
    }
    ul li {
      background-color: $lightBlue;
      float: none;
      width: 100%;
      display: block;
      z-index: 99999;
    }
    ul li:nth-child(1) {
      border-top:2px solid white;
    }
  }
  // Visar menyn då den har klassen open (via klick)
  #main-nav ul.open {
    display: block;
  }
  #mobile-container {
    position: relative;
    width: 40px;
    float: right;
    margin: 16px 10px;
  }
  #mobile-menu {
    cursor: pointer;
    display: block;
  }
  // De tre strecken som bygger upp mobilmenyn
  #mobile-menu span {
    background: $white;
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 3px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.2s;
    border-radius: 5px;
  }
  // Mittenstrecket försvinner vid klick
  #mobile-menu.open span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  // Det understa strecket roterar och bildar ett halvt kryss
  #mobile-menu.open span:nth-child(3) {
    transform: rotate(45deg);
    top: -6px;
  }
  // Det översta strecket roterar och bildar ett halvt krytt
  #mobile-menu.open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 6px;
  }
  #logout-button {
    display:block;
    width:100%;
    padding: 17px 20px;
    margin:0;
    text-align:left;
    border-radius:0;
  }
  .box {
    width: 95%;
    margin: 5% 2.5% 2.5% 2.5%;
  }
  input[type="text"],
  input[type="password"],
  textarea {
    width: 80%;
    margin: 0 10%;
    margin-bottom: 10px;
  }
  .add-button {
    width: 50%;
    margin: 20px 25%;
  }
  .educationBox,
  .jobBox,
  .webpageBox {
    float: none;
    width: 100%;
  }
  // Hämtade poster - knapparna
  .button-box {
    width: 100%;
    float: none;
    margin-top: 20px;
    button {
      width: 30%;
      float: left;
    }
  }
  .update-button {
    padding: 10px 5px;
    width: 30%;
    margin: 5px 70% 5px 0;
  }
  // Ta bort-knappar
  .delete-button {
    padding: 10px 5px;
    width: 30%;
    margin: 5px 70% 5px 0;
  }
  #updateEducationForm,
  #updateJobForm,
  #updateWebpageForm {
    padding: 50px;
    width: 80%;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    input,
    textarea {
      margin-top: 5px;
      margin-bottom: 15px;
      width: 95%;
      margin: 2.5% 0;
    }
  }
  label {
    color: $white;
    font-weight: bold;
    margin: 0;
  }
  .form-update-button {
    width: 30%;
    margin-left: 10%;
    float: left;
  }
  // Ta bort-knappar
  .close-button {
    width: 30%;
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media (max-width: 500px){
  input[type="text"],
  input[type="password"],
  textarea {
    width: 95%;
    margin: 0 2.5%;
    margin-bottom: 10px;
  }
    // Hämtade poster - knapparna
    .button-box {
      button {
        width: 40%;
      }
    }
  .update-button {
    width: 40%;
    margin: 5px 60% 5px 0;
  }
  // Ta bort-knappar
  .delete-button {
    width: 50%;
    margin: 5px 60% 5px 0;
  }
}

// Logga in-sidan
#login-button {
  width: 30%;
  margin: 20px 35%;
  background-color: $lightGreen;
  color: $white;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: $darkerGreen;
  }
}
.error {
  color: $lightRed;
  text-align: center;
}
