// Variabler
$white: rgb(250, 250, 250);
$lighterGray: rgb(237, 237, 237);
$lighterBlue: rgb(234, 242, 244);
$lightBlue:  rgb(93, 174, 223);
$darkerBlue:  rgb(63, 146, 198);
$lightGreen: rgb(86, 196, 86);
$darkerGreen: rgb(56, 159, 56);
$lightRed: rgb(213, 68, 68);
$darkerRed: rgb(194, 48, 48);